// Name of the user of the database
TASK_MANAGER_MONGODB_USER=...

// Password of the user
TASK_MANAGER_MONGODB_PASSWORD=...

// Name of the server
TASK_MANAGER_MONGODB_SERVER=...

// Name of the database
TASK_MANAGER_MONGODB_DATABASE=...

// The port you want to use
PORT=...

// Where to save the storage (has to be in other folder than the main folder of the project)
TASK_MANAGER_LAB_STORAGE=...

// Where to save the tokens (preferably the folder of the project)
LOCAL_TOKENS=...
