# Username for the server hosting the database
WYLIODRIN_MONGODB_USER=uso

# Password for the server hosting the database 
WYLIODRIN_MONGODB_PASSWORD=temeuso123

# address and port of the server hosting the database
WYLIODRIN_MONGODB_SERVER=ds247121.mlab.com:47121

# Name of the database in use
WYLIODRIN_MONGODB_DATABASE=wyliodrin

# Debug 
DEBUG=wyliodrin-lab-server:*

# Port in use. Default is 3000
PORT=3000

WYLIODRIN_LAB_STORAGE=/mnt/c/Users/Calin/Documents/storage
LOCAL_TOKENS=/mnt/c/Users/Calin/Documents/temeuso/tokens.json